<div class="container">
  <div class="row">
    <div class="col s6 offset-s3 z-depth-1" id="register">
        <h4>New Collection</h4>
        <%= render 'form' %>
        <%= link_to 'Back', collections_path %>
    </div>
  </div>
</div>
