<div class="container">
  <h5><%= t('login.try_again') %></h5>
  <p><%= t('login.explanation') %>: <a href="mailto:info@didmena.lt">info@didmena.lt</a></p>
  <br>
  <%= render 'sessions/login_form' %>
</div>