<div class="col s12 m4">
  <div class="card hoverable">
    <div class="card-image">
      <%= link_to (image_tag (thumbnail(model)), :class=>""), model %>
    </div>
    <div class="card-content">
      <span class="card-title truncate"><%= link_to model.title, model %></span>
      <p class="truncate"><%= model.note %></p>
    </div>
    <div class="card-action valign-wrapper">
      <% for color in model_colors(model.id) %>
        <div class="color-circle small valign" style="background: #<%= color %>"></div>
      <% end %>
    </div>
  </div>
</div>