<div class="row">
  <div class="col s6">
    <%= form_for(@product) do |f| %>
    <%#= f.fields_for :products do |r| %>
      <%= f.text_field :color_id, class: "color_box" %>
      <div id="color_meaning"></div>
      <div id="size_div" class="input-field browser-default">
      <% all_sizes = ['xxl', 'xxl', 'l', 'm', 's'] %>
      <% all_sizes.each do |size| %>
        <%= check_box_tag size, class: 'size_box' %>
        <%= label_tag size, size %><br/>
      <% end %>
      </div>
    <% end %>
  </div>
</div>