<div class="container">
  <div class="row">
    <div class="col s12">
      <h4><%= t('models.new_model') %></h4>
      <%= link_to t('back'), models_path %>
      <%= render 'form' %>
    </div>
  </div>
</div>