body {
  background-image: url(/assets/top_bg.jpg);
  background-repeat: repeat-x;
}

header {
  width: 80%;
  margin: 150px auto 50px auto;
}

ul#language-menu {
  list-style-type: none;
  float: left;
  width: 40%;
}

ul#language-menu li {
  display: block;
  display: inline;

  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

ul#session-menu {
  list-style-type: none;
  float: left;
  text-align: right;
  width: 40%;
}

ul#session-menu li {
    display: block;
    display: inline;

    font-family: 'Lato', sans-serif;
    font-size: 18px;
}
div#container {
    width: 80%;
    margin: 0 auto;
    clear: both;
}

div#profile-description{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  padding: 15px;
  margin-right: 50px;
}

/*div#profile-description p {
  border-top: solid 2px grey;
  padding-top: 10px;
}*/

div#contact{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  padding: 50px;
  background-color: orange;
}

div#contact li {
    list-style-type: none;
}

@media all and (min-width: 800px) {

  div#profile-description{
    width: 50%;
    float: left;
  }

  div#contact{
    width: 320px;
    float: left;
    margin-top: 150px;
    margin-left: 0px;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 *= css
 *= landing_page
 */

