html {
  background-image: url('/assets/top_bg.jpg');
  background-repeat: repeat-x;
}

.container {
  margin: 0 auto;
}

div#header {
    margin-top: 150px;
}

input.btn.waves-effect.submit {
    width: 100%;
}

div#login {
    padding: 2rem;
}

div#register {
    padding: 2rem;
}

.right-top-menu{
  text-align: right;
}

ul#language-menu {
  list-style-type: none;
}

ul#language-menu li {
  display: block;
  display: inline;

  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

ul#session-menu {
  list-style-type: none;
}

ul#session-menu li {
    display: block;
    display: inline;

    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

img.model_image {
  height: 150px;
  width: 350px;
}

img.prod_image {
  width: 100%;
}
img.prod_image_small {
  width: 30%;
  padding: 5px;
}

input#quantity {
    width: 75px;
}
/* line 1, C:/DevApps/didmena/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, C:/DevApps/didmena/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, C:/DevApps/didmena/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, C:/DevApps/didmena/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 24, C:/DevApps/didmena/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 28, C:/DevApps/didmena/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, C:/DevApps/didmena/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 40, C:/DevApps/didmena/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 44, C:/DevApps/didmena/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 50, C:/DevApps/didmena/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 58, C:/DevApps/didmena/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 69, C:/DevApps/didmena/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 *= css
 *= landing_page
 *= forms
 */

