<div class="container">
  <h2>THIS IS YOUR ORDER</h2>
  <% @purchases_for_order.each do |pfo| %>
    <strong>Product ID:</strong> <%= pfo.product_id %>, <strong>Quantity: </strong> <%= pfo.quantity %>
    <% end %>
</div>