<% if @company.errors.any? %>
    <% content_for :form_errors do %>
      <div id="error_explanation">
      <h2><%= t('form.cannot_save') %></h2>
      <ul>
        <% object.errors.messages.each do |message| %>
          <% binding.pry %>
          <li><%= message[1].join(',') %></li>
        <% end %>
        <br>
        <div class="divider"></div>
      </ul>
        </div>
    <% end %>
<% end %>