<div class="container">
  <div class="row">
    <div class="col s12 m6 l6">
      <div class="section">
        <h5><%= t "welcome.title" %></h5>
        <p><%= t "welcome.description" %></p>
      </div>
    </div>
    <div class="col s12 m6 l6">
      <div class="section right-align">
        <h5><%= t "welcome.contact_title" %></h5>
        <i class="tiny material-icons prefix">email</i> informacija@didmena.com<br>
        <i class="tiny material-icons prefix">phone</i> 604-234-1111
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <%= render 'product_catalog' %>
</div>