<div id="container">
  <div id="profile-description">
    <h2>What We Do</h2>
    <p>We are working to launch a new online ordering system for wholesalers.</p>
    <p>We sell t-shirts, jackets, jersey's for sprint, summer, fall seasons. Our products are for men, women and kids. We partner with XXX.</p>
  </div>
  <div id="contact" class="z-depth-5">
    <h5>Get in touch</h5>

    <li>informacija@didmena.com</li>
    <li>1000 Gatves g., Vilnius, LT</li>
    <li>604-234-1111</li>
  </div>
</div>