<div class="container">
<p id="notice"><%= notice %></p>

<h4>MY ORDERS</h4>
<table>
  <thead>
    <tr>
      <th>Order number</th>
      <th>Order date</th>
      <th>Total price</th>


    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.order_number, order  %></td>
        <td><%= order.order_date %></td>
        <td><%= sprintf "%.2f", order.total_price %></td>

        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
