<div class="form-block">
  <div class="row">
    <div class="input-field col s12">
      <%= label_tag :code_value, "code value" %><br>
      <%= text_field_tag :code_value, nil, :id => "code_value" %>
    </div>
  </div>
</div>
<div class="form-block">
  <div class="row">
    <div class="input-field col s12">
      <%= label_tag :meaning, "Meaning" %><br>
      <%= text_field_tag :meaning, nil, :id => "meaning" %>
    </div>
  </div>
</div>
<a id="color-create"> save</a>
