<div class="container">
  <div class="row">
    <div class="col s6">
      <h4><%= t('company.edit') %></h4>
      <%= link_to t('show'), @company %> | <%= link_to t('back'), companies_path %>
    </div>
  </div>
  <%= render 'form' %>
</div>