html {
  background-image: url('/assets/top_bg.jpg');
  background-repeat: repeat-x;
}

.container {
  margin: 0 auto;
}

div#header {
    /*margin-top: 15px;*/
    margin-top: 150px;
}

footer {
  margin-top: 30px;
  margin-bottom: 60px;
}

a {
    color: yellow;
}

input.btn.waves-effect.submit {
    width: 100%;
}

div#login {
    padding: 2rem;
}

div#register {
    padding: 2rem;
}

.right-top-menu{
  text-align: right;
}

ul#language-menu {
  list-style-type: none;
}

ul#language-menu li {
  display: block;
  display: inline;

  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

ul#session-menu {
  list-style-type: none;
}

ul#session-menu li {
    display: block;
    display: inline;

    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

img.model_image {
  max-height: 350px;
  max-width: 350px;
}

img.prod_image {
  width: 100%;
}
img.prod_image_small {
  width: 30%;
  padding: 5px;
}

input#quantity {
    width: 75px;
}

.flash-message {
  color: orange;
  font-family: 'Lato', sans-serif;
  font-size: 18px; 
}

div.model-title {
  text-align: left;  
  color: grey;
  font-family: 'Lato', sans-serif;
  font-size: 16px; 
}

div#login {
  background-color: lightgrey;
}

.btn-large, button.btn-large {
  width: 100%;
}

ul#card-menu {
  list-style-type: none;
}

ul#card-menu li {
  display: block;
  display: inline;

  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

.color-circle {
  margin: 0 auto; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  border: 1px solid gray;
}