.container {
  margin: 0 auto;
}

html {
min-height: 100%;
  position: relative;
}

.cart-product-header-row {
  border-bottom: 1px solid lightgrey; padding: 5px; background: lightgrey;
}

.hint-text {
  font-size: 0.6rem; color: #9e9e9e;
}

#file-input
{
   display: none;
}
.image-upload > label{
  cursor:pointer;
}

.img-thumbnail {
  height: 200px;
}

.img-row {
  padding-top:5px; flex-direction: row; flex-wrap: wrap; justify-content: center;
}

.form-block {
  margin-bottom: 25px;
  margin-top: 25px;
  padding: 15px;
  border: 1px solid grey;
}

.first-row {
  margin-top: 1rem;
}

/*.text_field {
  width: 80%;
}
*/
.save-button, input#upload{
  background: none;
  border: none;
  color: #039be5;
}

input#model_price {
  width: 25%;
}

.model-index-row {
  padding-top:5px; flex-direction: row; flex-wrap: wrap; justify-content: center;
}

.product_box {
  border: 1px solid #26a69a; padding: 0 5px; text-align: center;
}

.model_title {
  font-style: bold;
}

.subheader-1 {
  color: lightgrey; font: 14px;
}

.subheader-2 {
  color: orange; font: 14px;
}

.model-content {
  padding-right: 15px; margin-top: 15px;
}

.model-card {
  padding: 15px; margin-bottom: 1rem;
}
.model-card-content {
  height: 75px; padding: 5px; overflow: hidden; text-overflow: ellipsis; margin: 1rem 0 1rem 0;
  }

.model-card-image {
  max-height: 100%; max-width: 100%; height: 150px;
}

.img-row {
  padding-top:5px; flex-direction: row; flex-wrap: wrap; justify-content: center;
}

div.admin_block_header {
  font-size: large;
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightblue;
  margin-bottom: 5px;
}

.eac-item {
  cursor: pointer;
  height: 2rem;
}

body {
  padding-bottom:125px;
}

footer {
  margin-top: 30px;
  background: lightgrey;
  position: absolute;
  bottom: 0;
  width: 100%
}

ul#session-menu li {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

div#myModal{
  width: 50%;
  margin-top: 100px;
}

div[type="button"] {
  cursor: pointer;
}

div[type="button"]:hover {
  text-decoration: underline;
}

a:visited {
  color: #026A9D;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

a:active {
  color: green;
}

input.btn.waves-effect.submit {
    width: 100%;
}

div#login {
    padding: 1rem;
}

div#register {
    padding: 2rem;
}

.right-top-menu{
  text-align: right;
}

ul#language-menu {
  list-style-type: none;
}

ul#language-menu li {
  display: block;
  display: inline;

  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

ul#session-menu {
  list-style-type: none;
}

ul#session-menu li {
    display: block;
    display: inline;

    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

img.model_image {
  max-height: 350px;
  max-width: 350px;
}

img.prod_image {
  width: 100%;
}
img.prod_image_small {
  width: 30%;
  padding: 5px;
}

input#quantity {
    width: 75px;
}

.flash-message {
  color: orange;
  font-family: 'Lato', sans-serif;
  font-size: 18px; 
}

div.model-title {
  text-align: left;  
  color: grey;
  font-family: 'Lato', sans-serif;
  font-size: 16px; 
}

div#login {
  background-color: lightgrey;
}

.btn-large, button.btn-large {
  width: 100%;
}

ul#card-menu {
  list-style-type: none;
}

ul#card-menu li {
  display: block;
  display: inline;

  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

.small.color-circle {
  width: 15px;
    height: 15px;
    margin: 0 5px;
    float: left;
}

.color-circle {
  margin: 0 auto; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  border: 1px solid gray;
}