body {
  background-image: url('/assets/top_bg.jpg');
  background-repeat: repeat-x;
}

header {
  width: 80%;
  margin: 150px auto 50px auto;
}

ul#language-menu {
  list-style-type: none;
  float: left;
  width: 40%;
}

ul#language-menu li {
  display: block;
  display: inline;

  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

ul#session-menu {
  list-style-type: none;
  float: left;
  text-align: right;
  width: 40%;
}

ul#session-menu li {
    display: block;
    display: inline;

    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

div#login {
  clear: both;
  width: 30%;
}
