body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  background-color: #cc0000;
  margin-top: 1em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  border-radius: 0.5em;
}

#error_explanation {
  width: 450px;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 0px;
    font-size: 12px;
    color: #cc0000;
  }

  ul li {
    font-size: 12px;
    list-style: none;
  }
}
