<div class="row">
  <div class="col s12">
  <%= link_to 'admin home', admin_path %>
   <!--  <%#= link_to 'add company', new_company_path %> | <%#= link_to 'all companies', companies_path %> || <%#= link_to 'add user', new_user_path %> | <%#= link_to 'all users', users_path %> || <%#= link_to 'add attribute', new_domain_path %> | <%#= link_to 'all attributes', domains_path %> || <%#= link_to 'add model', new_model_path %> | <%#= link_to 'all models', models_path %> -->
  </div>
</div>