<div class="container" id="footer">
  <div class="divider"></div>
  <div class="row">
      <div class="col s12 m6 l6">
        <div class="section">
          <%= t "welcome.description" %>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="section right-align">
          <i class="tiny material-icons prefix">email</i> informacija@didmena.com<br>
          <i class="tiny material-icons prefix">phone</i> 604-234-1111
        </div>
      </div>
    </div>
</div>